/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

body {
  background-image: url(./images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  background-size: auto 95%;
  background-repeat: no-repeat;
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

header {
  width: 20%;
  margin: 3rem 0px 0rem 5.5rem;
}

header > img {
  width: 80%;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}

.register {
  color: hsl(257, 40%, 49%);
  background-color: white;
  border: none;
  padding: 1rem 4.6rem;
  border-radius: 3rem;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  box-shadow: 2px 2px 12px rgba(19, 19, 19, 0.575);
}

.register:hover {
  background-color: hsl(300, 69%, 71%);
}

.main {
  height: 650px;
  padding-left: 5.5rem;
  padding-top: 1.4rem;
}

.main > div {
  height: inherit;
}

.headline {
  padding: 0 0 0 1rem;
}

.text-block {
  padding: 0 0 7rem 0;
}

.description {
  font-size: 1.13rem;
  line-height: 1.7;
}

.icons {
  padding-right: 4rem;
}

.icons > button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.icons > button:hover {
  /* background-color: hsl(300, 69%, 71%); */
  /* border: none; */
  color: hsl(300, 69%, 71%);
  border: 1px solid hsl(300, 69%, 71%);
}

@media (max-width: 400px) {
  body {
    background-image: url(./images/bg-mobile.svg);
    background-size: 100%;
  }

  header {
    width: 100vw;
    margin: 2rem 0 0 1.5rem;
  }

  header > img {
    width: 37%;
  }

  .main {
    height: 75vh;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
  }

  .main > div {
    height: inherit;
  }

  .mockup-img {
    width: 81%;
    margin-top: 3.5rem;
  }

  .headline {
    padding-left: 0;
    width: 72%;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 4rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
  }

  .register {
    padding: 0.6rem 4.6rem;
    font-size: 0.8rem;
    margin-left: 3rem;
  }

  .icons {
    margin-top: 4.3rem;
    padding-right: 2.65rem;
    width: 75%;
  }

  .icons > button {
    width: 1.9rem;
    height: 1.9rem;
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }
}
